<tr id="object_list_entry-<%= object.id %>"> 
  <!-- 
   <th>Title</th>
   <th>Deadline</th>
   <th>Deliverables</th>
   <th>Membership</th>
   <th>Concept</th> 
   <th>Production</th>
   <th>Post Production</th>
    -->
  
  <td>
    <%=  link_to  object.title , project_url( object )   %>
  </td>
  <td> 
    <%= format_date_from_datetime( object.external_deadline )  %>
  </td>
  
  <td> 
    <%= link_to  project_deliverable_items_url(object) do %>
      <span class="badge blue rounded"><%= object.deliverable_items.count %></span> 
    <% end %>
    
    
  </td>
  <td> 
    
    <%= link_to project_project_memberships_url(object)  do %>
      <% if object.is_membership_assignment_finalized and object.is_core_project_member_complete? %>
        <span class="label green">Complete</span>
      <% else %>
        <span class="label orange">Pending</span> 
      <% end %>
    <% end %>
    
    <span class="badge blue rounded"><%= object.users.count %></span> 
  </td>
  <td> 
    <%= format_date_from_datetime( object.external_deadline )  %>
  </td>
  <td> 
    <%= format_date_from_datetime( object.external_deadline )  %>
  </td>
  <td> 
    <%= format_date_from_datetime( object.external_deadline )  %>
  </td>
  
</tr>