<div class="row">
  <div class="span9">
    <ul class="nav nav-tabs header-tabs btn-block pull-right">
      <li class="active"><a href="#"><i class="icon-dashboard"></i> Summary</a></li>
      <li><%= link_to "Deliverable", '#deliverable' %></li>
      <li><%= link_to "Membership", '#project_memberships' %></li>
      <li><%= link_to "Concept", '#concept' %></li>
      <li><%= link_to "Property", '#property' %></li>
      <li><%= link_to "Data", register_path %></li>
      <li><%= link_to "Production", '#production' %></li>
      <li><%= link_to "Post Production", '#post_production' %></li> 
    </ul>
  </div>
</div>